.page-title {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}

.fetch-btn {
	background-color: azure;
	color: black;
	margin: 20px;
}

.loading {
	font-size: 2rem;
	font-weight: bold;
	margin: 10px 20px;
}
